@import "./styles/AspectRatio.scss";
@import "./styles/Fonts.scss";


@include font(box);

@keyframes blink {
    to {
        border-bottom-style: none;
    }
}

$red: #C44040;
$yellow: #D89000;
$green: #339D33;
$blue: #4A508A;

* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
    font-family: box, consolas;
}

#mount {
    @include aspect-ratio(160, 90);
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.player-score-list {
    width: 100%;
    height: 100%;
    position: absolute;
}

.score-container {
    width: 25%;
    float: left;
    padding: 8em 10em;
    
    [id$=-score] {
        font-size: 7em;
        line-height: 1em;
        text-align: center;
        width: 1.75em;
        border-bottom-style: solid;
        border-bottom-width: 0.15em;
        
        &:empty {
            animation-name: blink;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: steps(2, end);
            &::before {
                display: block;
                font-size: 0.5em;
                line-height: 1em;
                content: "PRESS TO JOIN";
            }
        }

        .score-entry {
            display: block;
            font-size: 0.5em;
            line-height: 1em;
        }
    }
    
    #p1-score {
        float: left;
        border-color: $red;
        text-shadow: 0.05em 0.05em $red;
    }

    #p2-score {
        margin: auto;
        border-color: $yellow;
        text-shadow: 0.05em 0.05em $yellow;
    }

    #p3-score {
        margin: auto;
        border-color: $green;
        text-shadow: 0.05em 0.05em $green;
    }

    #p4-score {
        float: right;
        border-color: $blue;
        text-shadow: 0.05em 0.05em $blue;
    }
}

.junk-text {
    font-family: "box";
    font-size: 4em;
    color: white;
    position: absolute;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}