@import "./styles/AspectRatio.scss";
@import "./styles/Fonts.scss";

* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
    font-family: box;
}

canvas {
    @include aspect-ratio(160, 90);
}

.player-score {
    position: relative;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.player-score .foreground-score {
    position: relative;
    z-index: 1;
}

.player-score .shadow-score {
    position: relative;
    z-index: 0;
    text-decoration: underline;
}

#player-1-score {
    color: #C44040;
}

#player-2-score {
    color: #D89000;
}

#player-3-score {
    color: #339D33;
}

#player-4-score {
    color: #4A508A
}



@include font-face(box);
