@import "./styles/AspectRatio.scss";
@import "./styles/Fonts.scss";

* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    background-color: #111;
    font-family: box;
}

canvas {
    @include aspect-ratio(160, 90);
}

@include font-face(box);
